* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    list-style: none;
}

@font-face {
    font-family: 'Raleway';
    src: url(../webfonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'Raleway';
    font-weight: bold;
    src: url(../webfonts/Raleway-Bold.ttf);;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

.logo strong {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .quick-access {
    display: flex;
    align-items: center;
}

.header .quick-access .links {
    display: flex;
}

#nav {
    display: flex;
    justify-content: left;
    font-size: 14px;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    color: #000;
    padding: 20px;
    display: inline-block;
}

#nav li a:hover {
    color: #BF464F;
}

.col-main {
    width: 100%;
}

.container {
    width: 100%;
    margin: auto;
    font-size: 16px;
}

.bx-wrapper {
    box-shadow: none;
    border: none;
    background: none;
}

.wrap-content .bx-wrapper.bx-wrapper .bx-prev {
    width: 0;
    height: 0;
    border-bottom: 15px solid transparent;
    border-right: 20px solid #DDD;
    border-top: 15px solid transparent;
}

.wrap-content .bx-wrapper.bx-wrapper .bx-next {
    width: 0;
    height: 0;
    border-bottom: 15px solid transparent;
    border-left: 20px solid #DDD;
    border-top: 15px solid transparent;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #DDD;
    text-indent: -9999px;
    display: block;
    width: 20px;
    height: 20px;
    margin: 15px;
    outline: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #4292D1;
}

.wrap-shipping ul {
    width: 100%;
    text-align: center;
    background: #EFF5EB;
    margin-bottom: 26px;
    display: flex;
    justify-content: space-around;
}

.wrap-shipping li {
    padding: 10px;
}

.wrap-shipping a {
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

.wrap-shipping li i {
    padding-right: 10px;
    color: #BF464F;
}

.wrap-content {
    width: 95%;
    margin: auto;
}

.wrap-content .bx-wrapper .bx-next, .wrap-content .bx-wrapper .bx-prev {
    background: transparent;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main a {
    color: #000;
}

.main a:hover h4 {
    color: #BF464F;
}

.main a:hover img {
    opacity: 0.60;
}

.wrap-content .main .inform {
    position: absolute;
    top: 76%;
    width: 100%;
    padding: 10px 30px;
    background: rgba(255, 255, 255, 0.47);
    display: flex;
}

.wrapImg {
    margin-bottom: 50px;
}

.wrapImg .angle {
    display: inline-block;
    width: 1.4em;
    height: 1.2em;
    background: transparent;
    border-right: 0.2em solid #BF464F;
    border-top: 0.2em solid #BF464F;
    transform: rotate(45deg);
    margin-right: 0.5em;
}

.wrapImg .angle {
    width: 1.4em;
    height: 1.2em;
}

.main .wrapImg {
    width: 378px;
    position: relative;
}

.wrapImg img {
    width: 100%;
}

.main .inform span {
    color: #BF464F;
    align-self: center;
}

.main h4 {
    text-transform: uppercase;
    font-size: 20px;
    padding: 0 0 10px 0;
    font-weight: bold;
}

.footer {
    width: 85%;
    margin: auto;
}

.footer .bx-wrapper.bx-wrapper .bx-prev {
    display: inline-block;
    width: 2.1em;
    height: 2.1em;
    background: transparent;
    border-left: 0.2em solid #BF464F;
    border-bottom: 0.2em solid #BF464F;
    margin-right: 0.5em;
    transform: rotate(45deg);
}

.footer .bx-wrapper.bx-wrapper .bx-next {
    display: inline-block;
    width: 2.1em;
    height: 2.1em;
    background: transparent;
    border-right: 0.2em solid #BF464F;
    border-top: 0.2em solid #BF464F;
    transform: rotate(45deg);
    margin-right: 0.5em;
}

.footer .bx-pager.bx-default-pager {
    display: none;
}

.footer .bx-wrapper .bx-viewport {
    height: 79px;
    overflow: hidden;
}

.footer-slider-mobile {
    display: none;
}

.footer .bx-wrapper:nth-of-type(2) {
    display: none;
}

.footer > ul.links {
    display: flex;
    justify-content: flex-end;
}

.bugs {
    display: none;
}

/* media queries */

@media (min-width: 320px) and (max-width: 480px) {
    .footer-slider-mobile, .footer .bx-wrapper:nth-of-type(2) {
        display: block;
    }

    .footer .bx-wrapper:nth-of-type(1) {
        display: none;
    }

    .wrap-shipping a {
        display: none;
    }

    .wrap-shipping li i {
        font-size: 18px
    }

    .wrap-content .main .inform {
        top: 73%;
    }

    .main .wrapImg {
        width: 100%;
    }

    .wrapImg {
        margin-bottom: 10px;
    }

    .footer {
        margin-top: 30px;
    }

    .bx-wrapper {
        margin-bottom: 30px;
    }

    .bx-wrapper .bx-pager.bx-default-pager a {
        width: 10px;
        height: 10px;
        margin: 8px;
    }

    .header .quick-access {
        display: none;
    }

    #nav li a {
        padding: 8px;

    }

}

@media (min-width: 481px) and (max-width: 767px) {
    .footer-slider-mobile, .footer .bx-wrapper:nth-of-type(2) {
        display: block;
    }

    .main .wrapImg {
        width: 100%;
    }

    .wrapImg {
        margin-bottom: 10px;
    }

    .wrap-content .main .inform {
        top: 73%;
    }

    .footer .bx-wrapper:nth-of-type(1) {
        display: none;
    }

    .bx-wrapper .bx-pager.bx-default-pager a {
        width: 10px;
        height: 10px;
        margin: 8px;
    }

    .header .quick-access {
        display: none;
    }

    #nav li a {
        padding: 8px;

    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .main {
        justify-content: space-around;
    }

    .footer-slider-mobile, .footer .bx-wrapper:nth-of-type(2) {
        display: none;
    }

    .footer .bx-wrapper:nth-of-type(1) {
        display: block;
    }

    .bx-wrapper .bx-pager.bx-default-pager a {
        width: 20px;
        height: 20px;
        margin: 15px;
    }

    .main .wrapImg {
        width: 378px;
    }

    .wrapImg {
        margin-bottom: 50px;
    }
}

